body {
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background: #27292c;
  color: white;
  margin: 0;
}

h1 {
  margin-top: 30px;
}

ul {
  padding: 0;
}

li {
  padding: 5px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 5px rgba(0, 255, 255, 0.331);
  padding: 10px 20px;
}
.nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-right: 3em;
}

.nav-item {
  margin-right: 3rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.logo {
  width: 55px;
  margin-left: 3rem;
  margin: 1rem 1rem 0.5rem 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  margin: 0 3rem;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2rem 3rem;
  margin-top: auto;
  background-color: #4b6b9c;
}
